.App {
  text-align: center;
  min-height: 110vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: rgb(209,209,209);
  background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 78%, rgba(209,209,209,1) 100%);}

.cIconCart {
  height: 50px;
  width: 50px;
  background-color: rgba(240, 255, 255, 0.562);
  padding: 5px;
  border-radius: 10px 10px;
}

.tarjetas {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} 


.itemDetail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDetail .card {
  margin: 0 auto;
}

.noBlue {
  text-decoration: none;
  color:rgb(65, 65, 65);
  margin: 10px;
  padding: 10px;
}

.noBlue:hover {
  color:rgb(221, 221, 221);
}

.unaTarjeta {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cadaTarjeta {
  transition:all 0.5s ease-in-out;
  transform: scale(1);
  z-index: 1;

}
.cadaTarjeta:hover {
  transform: scale(1.1);
  z-index: 2;
}
.cadaTarjeta:hover > .unaTarjeta {
  transition: all .5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cadaTarjeta:active {
  transform: scale(1.2);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.cadaTarjeta:visited {
  transform: scale(0.9);
  z-index: 2;
}
.cadaTarjeta:focus {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.iconAndIndicator {
  position:relative
}
.iconAndIndicator .containerTestigo {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(213, 216, 213, 0.945);
  border-radius: 50%;
  min-height: 15px;
  max-height: 23px;
  min-width: 20px;
  max-width: 23px;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 10%;
}
.iconAndIndicator .containerTestigo .testigo{
margin: 0 auto;
text-decoration: none;
}

.unaTarjeta {
  background: #D5D7D7;
  background-repeat: no-repeat;
  /* filter:blur(2px), brightness(10%); */
}
.fondo {
  filter:blur(10px) brightness(120%) grayscale(50%);
  /* backgroundImage:url(${prop_producto.imgSource}); */
  background-size:cover;
  background-position:center;
  position: absolute;
  /* background-color: #c4bbbb; */
} 
.main-section {
  margin: 5rem auto;
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #E45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5D4C46;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}
.navbar a {
  text-decoration: none;
  color:grey;
}
.tdItem{
  max-width: 100px;
  overflow-wrap: break-word;
}

.lottieSadBox > div{
  transition-property: all;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.9023984593837535) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,0) 74%);
}
.lottieSadBox:hover > div{
  background: rgb(108,199,117);
  background: radial-gradient(circle, rgba(108,199,117,0.9023984593837535) 0%, rgba(223,255,231,1) 58%, rgba(255,255,255,0) 74%);
}
.wallpaper {
  padding: 0px;
  background-image: linear-gradient(rgba(123, 123, 155, 0.5), rgba(182, 183, 235, 0.5)),
                    url('./assets/2pexels-thought-catalog-904616.jpg');
  background-position: center;
  background-size: cover;
}
.bienvenidos {
  background: rgba(32, 121, 255, 0.685);
  line-height: 2rem;
}