.App {
  text-align: center;
  min-height: 110vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(231, 231, 231);
}
.cIconCart {
  height: 50px;
  width: 50px;
  background-color: rgba(240, 255, 255, 0.562);
  padding: 5px;
  border-radius: 10px 10px;
}

.tarjetas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.unaTarjeta {
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.itemDetail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemDetail .card {
  margin: 0 auto;
}

.noBlue {
  text-decoration: none;
  color:beige;
  margin: 10px;
  padding: 10px;
}

.noBlue:hover {
  color:rgb(221, 221, 221);
}

.cadaTarjeta {
  transition:all 0.5s ease-in-out;
  transform: scale(1);
  z-index: 1;
}
.cadaTarjeta:hover {
  transform: scale(1.2);
  z-index: 2;
}
.cadaTarjeta:active {
  transform: scale(1.3);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.cadaTarjeta:visited {
  transform: scale(0.9);
  z-index: 2;
}
.cadaTarjeta:focus {
  transform: scale(1.2);
  z-index: 2;
  box-shadow: rgba(18, 53, 10, 0.16) 0px 1px 4px, rgb(64, 73, 64) 0px 0px 0px 3px;
}
.iconAndIndicator {
  position:relative
}
.iconAndIndicator .containerTestigo {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(132, 255, 132);
  border-radius: 50%;
  min-height: 15px;
  max-height: 23px;
  min-width: 20px;
  max-width: 23px;
  text-decoration: none;
}
.iconAndIndicator .containerTestigo .testigo{
margin: 0 auto;
text-decoration: none;
}
.iconAndIndicator .containerTestigo {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 10%;
}